:root {
    --primary-color: #3693D6;
    --secondary-color: #9BC0FF;
    --large-screen-size-container: 224px;
    --paragraph-color: #232323;
    --primary-typeface: "Lato", sans-serif;
    --secondary-typeface: "Gloss And Bloom";
}